<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConfigTable" value="ConfigSettings"/>
		<add key="BeepDelay" value="1000"/>
		<add key="BeepEnabled" value="true"/>
		<add key="BinSizeConfigKey" value="system.refill_warning_amount"/>
		<add key="BinRefillWarningDefault" value="5"/>
		<add key="EnableDebugMode" value="true"/>
		<add key="colour1" value="128,255,128"/>
		<add key="colour2" value="255,255,128"/>
		<add key="colour3" value="255,128,128"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID='';Initial Catalog=Sql_Term_Project;Data Source='';Initial File Name='';"/>
	</connectionStrings>
</configuration>