<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkStationAndon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="default" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID='';Initial Catalog=Sql_Term_Project;Data Source='';Initial File Name='';"/>
		<add name="justin" connectionString="Data Source=DESKTOP-UMCIMBB\SQLEXPRESS;Initial Catalog=Sql_Term_Project;Integrated Security=True"/>
	</connectionStrings>
    
</configuration>