<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="BinSizeConfigKey" value="system.refill_warning_amount"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID='';Initial Catalog=Sql_Term_Project;Data Source='';Initial File Name='';"/>
	</connectionStrings>
</configuration>