<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConfigTable" value="ConfigSettings"/>
		<add key="BeepDelay" value="2000"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID='';Initial Catalog=Sql_Term_Project;Data Source='';Initial File Name='';"/>
	</connectionStrings>
</configuration>