<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="default" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID='';Initial Catalog=Sql_Term_Project;Data Source='';Initial File Name='';"/>
		<add name="justin" connectionString="Data Source=DESKTOP-UMCIMBB\SQLEXPRESS;Initial Catalog=Sql_Term_Project;Integrated Security=True"/>
	</connectionStrings>
</configuration>